body {
    background-color: white;
    font-family: 'Patrick Hand SC', cursive;
}
/*   
  .custom-shape-divider-top-1596771054 {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
} */

.crd--effect-3 .crd-heading {
    position: relative;
    color: hsla(0, 0%, 90%, .5);
  }
  
  .crd--effect-3 .crd-heading span {
    color: hsl(0, 0%, 90%);
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    transform: scale(1.4);
    transition: .5s;
  }
  
  .crd--effect-3:hover .crd-heading span {
    opacity: 1;
    transform: scale(1);
  }
  
  .crd--effect-3 .crd-info {
    text-align: right;
    right: 30px;
    left: unset;
  }
  
  .crd--effect-3 .crd-text {
    padding-left: 0;
    padding-right: 1rem;
  }
  
  .crd--effect-3 .crd-img {
    transition: .5s;
    width: 340;
    height: 500;
  }
  
  .crd--effect-3:hover .crd-img {
    transform: scale(.9);
  }


