
body {
    background-color: black;
    /* font-family: 'Patrick Hand SC', cursive; */
    font-family: 'Homemade Apple', cursive;
}

h2 {
    font-family: 'Homemade Apple', cursive;
}

.crd--effect-3 .crd-heading {
    position: relative;
    /* color: hsla(0, 0%, 90%, .5); */
    color: white;
  }
  
  .crd--effect-3 .crd-heading span {
    color: gray;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    transform: scale(1.4);
    transition: .5s;
  }
  
  .crd--effect-3:hover .crd-heading span {
    opacity: 1;
    transform: scale(1);
  }
  
  .crd--effect-3 .crd-info {
    text-align: right;
    right: 30px;
    left: unset;
  }
  
  .crd--effect-3 .crd-text {
    padding-left: 0;
    padding-right: 1rem;
  }
  
  .crd--effect-3 .crd-img {
    transition: .5s;
    width: 340;
    height: 500;
  }
  
  .crd--effect-3:hover .crd-img {
    transform: scale(.9);
  }

    .crd-img .crd-heading h2{
      top:150px;
  }

  .container {
    position: relative;
  }

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }

/* a {
    color: white;

} */
  /* :root {
	--background: #005;
	--primary: #88D5BF;
	--secondary: #5D6BF8;
	--third: #e27fcb;
}

* {
  box-sizing: border-box;
}

.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
} */

/* .shape {
 	background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  height: 100px;
  transition: all 1s ease-in-out;
  width: 100px;
  z-index: 5;
}

@keyframes morph {
  0% {
			border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
			background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
	} 
	
	50% {
			border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
			background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
	}
  
	100% {
		border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
		background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
	} 
} */
